@import "https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap";

:root {
    --default-bg: #edf2f7;
    --default-color: #5a5c69;
}

body {
    color: #fff !important;
    font-size: 1rem;
    font-weight: 400;
    font-family: Nunito;
    background-color: #ebf3ff;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #3b82f6;
}
.nav-link .name {
    margin-right: 10px;
    color: black;
}
li {
    list-style: none;
}
a:hover {
    color: #51cbff;
}

table thead {
    color: #5a5c69 !important;
}

p {
    color: #7c8db5 !important;
}

#error {
    width: 100%;
}
#error .errors-titles {
    font-size: 10rem;
}

#error p {
    color: #888 !important;
}

.transition {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.media,
.Thanks {
    margin-top: 20px;
}
.media-body {
    margin-left: 10px;
}

.user-dropdown-name,
.user-dropdown-status {
    margin: 0;
}

.bi {
    height: 1rem;
    width: 1rem;
}
.dropdown .avatar {
    margin-right: 0.6rem;
}

.layout-horizontal .notification {
    background-color: #081a51;
}

.topbar {
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    margin-left: 0;
    transition: all 0.3s;
    z-index: 9997;
}
.search {
    float: left;
    align-items: center;
    margin-top: 23px;
    height: 75px;
    margin-left: 20px;
}
.bars {
    float: left;
    display: flex;
    align-items: center;
    height: 75px;
    margin-left: 10px;
}

.bars button {
    color: var(--default-color);
    display: block;
    box-shadow: none !important;
}

.bars button i {
    font-size: 28px;
}

.bars button:hover {
    color: var(--default-color);
}

.menu {
    float: right;
    display: flex;
    align-items: center;
    height: 75px;
    padding: 0 10px;
}

.menu ul {
    padding: 0;
    margin: 0;
}
.menu ul li span {
    margin-left: 12px;
    font-size: 15px;
}

.menu ul li {
    display: inline-block;
    margin: 8px 10px 0 10px;
}

.menu ul li a {
    text-decoration: none;
    color: var(--default-color);
}

.menu ul li a:hover,
.menu ul li .dropdown-toggle:hover {
    color: var(--default-color);
}

.menu ul li .dropdown-toggle {
    color: var(--default-color);
    cursor: pointer;
}

.menu ul li .dropdown-menu {
    margin-top: 30px;
    margin-right: 10px;
    border: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background: #081a51;
}

.menu ul li .dropdown-menu a {
    color: #017efa;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 15px;
}

.menu ul li .foto {
    width: 50px;
    margin-top: -8px;
    border: 2px solid #d9dadb;
    border-radius: 100px;
}

.menu ul li a .notif {
    position: absolute;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 100px;
    font-size: 11px;
}
@media (max-width: 500px) {
    /* .bars {
        float: left;
        display: flex;
        align-items: center;
        height: 80px;
        margin-left: 10px;
    }
    .search {
        float: center;
        align-items: center;
        margin-top: 23px;
        height: 75px;
        margin-left: 20px;
    }
    .menu {
        float: top;
        display: flex;
        align-items: center;
        height: 20px;
        margin-left: 190px;
        margin-right: -20px;
        margin-top: -65px;
    } */
}

.dropdown-list .dropdown-list-content {
    height: 350px;
    overflow: hidden;
    overflow-y: auto;
    width: 300px;
    left: 0;
    right: 0;
    margin: 0;
}

.dropdown-list .dropdown-list-icons .dropdown-item {
    display: flex;
}

.dropdown-list .dropdown-list-icons .dropdown-item:hover {
    background-color: #1b2b65;
}

.dropdown-list .dropdown-item.dropdown-item-unread {
    background-color: rgb(27, 43, 101);
    border-bottom-color: #000;
}

.dropdown-list .dropdown-item {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #000;
}

a.dropdown-item {
    padding: 10px 20px;
    font-weight: 500;
    line-height: 1.2;
}
.dropdown-menu a {
    font-size: 13px;
}

.dropdown-list .dropdown-list-icons .dropdown-item .dropdown-item-icon {
    flex-shrink: 0;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 42px;
    text-align: center;
}

.dropdown-list .dropdown-list-icons .dropdown-item .dropdown-item-desc {
    margin-left: 12px;
    line-height: 20px;
}

.dropdown-list .dropdown-header {
    padding: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.dropdown-list .dropdown-footer,
a {
    padding: 10px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.dropdown-header {
    display: block;
    padding: 0.5rem 1.5rem;
    margin-bottom: 0;
    font-size: 0.875rem;
    white-space: nowrap;
}

.dropdown-list .dropdown-item .dropdown-item-desc {
    white-space: normal;
    line-height: 24px;
    color: #ffffff;
}
/** 3.2 Sidebar **/
.sidebar {
    font-weight: 500;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -275px;
    width: 275px;
    background: #081a51;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}
.sidebar {
    overflow-y: auto;
}

.sidebar .logo h2 {
    color: #ffffff;
    width: 255px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin-bottom: 50px;
}

.sidebar .logo img {
    width: 40px;
    height: 50px;
    margin-right: 10px;
}

#sidebar .icon {
    min-width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
}
#sidebar .icon-right {
    margin-left: auto;
    transition: all 0.3s ease;
}
#sidebar .side-menu {
    margin: 36px 0;
    padding: 0 20px;
    transition: all 0.3s ease;
}
#sidebar.hide .side-menu {
    padding: 0 6px;
}
#sidebar.hide:hover .side-menu {
    padding: 0 20px;
}
#sidebar .side-menu a {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #ffffff;
    padding: 12px 16px 12px 0;
    transition: all 0.3s ease;
    border-radius: 10px;
    margin: 4px 0;
    white-space: nowrap;
}
#sidebar .side-menu > li > a:hover {
    background: #1b2b65;
    color: #ffffff;
}
#sidebar .side-menu > li > a.active .icon-right {
    transform: rotateZ(90deg);
}
#sidebar .side-menu > li > a.active,
#sidebar .side-menu > li > a.active:hover {
    background: #1b2b65;
    color: #ffffff;
}
#sidebar .divider {
    margin-top: 24px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    color: #51cbff;
    transition: all 0.3s ease;
    white-space: nowrap;
    margin-bottom: 10px;
}
#sidebar.hide:hover .divider {
    text-align: left;
}
#sidebar.hide .divider {
    text-align: center;
}
#sidebar .side-dropdown li {
    list-style-type: circle;
}
#sidebar .side-dropdown {
    padding-left: 54px;
    max-height: 0;
    overflow-y: hidden;
    transition: all 0.15s ease;
}
#sidebar .side-dropdown.show a {
    font-size: 13px;
}
#sidebar .side-dropdown.show {
    max-height: 1000px;
}
#sidebar .side-dropdown a:hover {
    color: #51cbff;
}
#sidebar .ads {
    width: 100%;
    padding: 20px;
    margin-top: -50px;
}
#sidebar.hide .ads {
    display: none;
}
#sidebar.hide:hover .ads {
    display: block;
}
#sidebar .ads .wrapper {
    background: #1b2b65;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
}
#sidebar .ads .wrapper .help-icon {
    margin-left: 75px;
    margin-top: -40px;
    margin-bottom: 20px;
    color: #017efa;
}

#sidebar .btn-upgrade {
    margin-top: 20px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    color: #ffffff;
    background: #017efa;
    transition: all 0.3s ease;
    border-radius: 5px;
    font-weight: 600;
    margin-bottom: 12px;
}
#sidebar .btn-upgrade:hover {
    background: #1960a7;
}
#sidebar .ads .wrapper p {
    font-size: 12px;
    color: #ffffff;
    text-align: center;
}
#sidebar .ads .wrapper p span {
    font-weight: 700;
}

.sidebar-show {
    left: 0;
}

.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(212, 209, 209, 0.5);
    display: none;
    z-index: 9998;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.card-description {
    color: #7c8db5 !important;
}
.card .card-header {
    font-weight: 900;
    font-size: 16px;
    color: #555 !important;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e7eb;
}
.card.card-statistic {
    box-shadow: 1px 2px 5px rgba(47, 170, 244, 0.5);
    background: linear-gradient(to bottom, #25a6f1, #54b9ff);
    border: none;
}
.card.card-statistic .card-title {
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.8px;
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 0;
    margin-top: 5px;
}
.card.card-statistic .card-right p {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 0;
}
.card.card-statistic .card-right span.green {
    color: #6fff6f;
}
.card.card-statistic .card-right span.red {
    color: #ff7979;
}
.card.card-statistic .chart-wrapper {
    height: 100px;
}
.card .card-header {
    border: none;
}
.card .card-header h4 {
    font-size: 1.2rem;
}
.card .card-header ~ .card-body {
    background-color: #ffffff;
    padding-top: 0;
}
.card .card-content {
    position: relative;
}
.card .card-title {
    font-size: 1.2rem;
}
.card .card-body {
    padding: 1.4rem 1.7rem;
    background-color: #ffffff;
    margin-bottom: 30px;
}
.card .card-heading {
    color: #555;
    font-size: 1.5rem;
}
.card .card-img-overlay {
    background-color: rgba(0, 0, 0, 0.6);
}
.card .card-img-overlay p {
    color: #eee;
}
.card .card-img-overlay .card-title {
    color: #fff;
}

.content-start {
    padding-top: 50px;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    min-height: 100vh;
}
.content-start {
    background-color: #ebf3ff;
    border-radius: 30px;
}
.content-start .button {
    float: right;
    display: flex;
    margin-right: 45px;
}
footer {
    margin-left: 20px;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 60px;
}
footer .author-footer {
    margin-left: -12px;
}

@media (min-width: 992px) {
    .sidebar {
        left: 0;
    }

    .content-start {
        padding-left: 275px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .footer {
        margin-left: 275px;
    }
    .content-start .content-header p {
        width: 600px;
    }
    .bars button {
        display: none;
    }

    .sidebar-overlay {
        display: none !important;
    }
    footer {
        margin-left: 20px;
        font-size: 14px;
        margin-right: 10px;
    }
    footer .author-footer {
        margin-left: -12px;
    }
}

@media (max-width: 480px) {
    .dropdown-list .dropdown-list-content {
        width: 230px;
    }

    .content-start .button {
        float: right;
        display: flex;
        margin-right: 25px;
    }
    footer {
        margin-left: 10px;
        font-size: 10px;
        margin-right: 10px;
    }
    footer .author-footer {
        margin-left: -10px;
    }
    .content-start .content-header p {
        width: 330px;
    }
}
